body {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: bisque;
}

h1 {
    text-align: center;
    color: darkgreen;
}

p {
    font-size: 17px;
}

#banner {
    text-align: center;
    font-size: 17px;
    display: flex;
    background-color: antiquewhite;
    justify-content: space-evenly;
    max-width: 1024px;
    margin: auto;

}
#title {
    white-space: normal;
    font-size: 30px;
}
#quote {
    padding: 30px 80px 40px;
    position: relative;
    font-family: "Utopia-italic";
    font-size: 25px;
    font-weight: 700px;
    text-align: center;
    color: darkslategrey;
}

.button {
    color: #5C5F73;
    font-size: 14px;
  text-shadow: 1px 1px 0px #C9C9C9;
  box-shadow: 1px 1px 1px #D3DEDD;
  padding: 10px 25px;
  border-radius: 6px;
  border: 0px solid #969696;
  background: #C9C9C9;
}

.button:hover {
    color: #14396A;
    background: #E0E0E0;
}
a:link {
    color: darkgreen;
}

a:hover {
    color: palevioletred;
}

a:active {
    color: blue;
}
